<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @employee.name %>
</p>

<p>
  <strong>Shop:</strong>
  <%= @employee.shop.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @employee.title.name %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
